@font-face {
  font-family: 'TWKEverett-Regular-web';
  src: url('TWKEverett-Regular-web.woff2') format('woff2'),
       url('TWKEverett-Regular-web.woff') format('woff'),
       url('TWKEverett-Regular-web.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
